.scrollableContainer-15eg7h {
    border-radius: 10vh;
}

.content-1gYQeQ {
    border-radius: 10vh;
}

.container-32HW5s {
    border-radius: 10vh;

}

.button-12Fmur {
    border-radius: 10vh;
}
.folderIconWrapper-1oRIZr {
    border-radius: 16vh;
}

.side-2ur1Qk .item-3XjbnG {
    border-radius: 10vh;
}

.button-f2h6uQ {
    border-radius: 10vh;
}

.folder-241Joy {
    background-color: transparent;
}

.container-2oNtJn {
    border-radius: 10vh;
}

.item-2idW98 {
    border-radius: 10vh;
}

.notDetected-M3Ghh2, .nowPlaying-3UpuKc {
    border-radius: 10vh;
}

.backgroundOptionRing-1vvQ0C {
    border: 3px solid var(--brand-500);
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 2vh;
}

.backgroundOptionInner-SSz19O {
    border-radius: 10vh;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    border-radius: 10vh;
}


.topPill-3DJJNV .item-3XjbnG {
    border-radius: 10vh;
}

.platform-win .sidebar-1tnWFu {
    border-radius: 2.3vh 0 0;
}

.layout-1qmrhw {
    border-radius: 10vh;
}

.searchBar-jGtisZ {
    border-radius: 10vh;
}

.bd-button {
    border-radius: 10vh;
}

.bd-search-wrapper {
    border-radius: 10vh;
}

.bd-addon-list .bd-addon-card {
    border-radius: 4vh;
}

.bd-controls>.bd-addon-button:first-of-type {
    border-radius: 10vh 0 0 10vh;
}

.bd-controls>.bd-addon-button:last-of-type {
    border-radius: 0 10vh 10vh 0;
}

.cardWrapper-1bSePP {
    border-radius: 10vh;
}

.guild-2Fq4I5 {
    border-radius: 3vh;
}

.background-Gjdjzm {
    border-radius: 10vh;
}

.card-16VQ8C {
    border-radius: 4vh;
}

.accountProfileCard-lbN7n- {
    border-radius: 3vh;
}

.embed-hKpSrO {
    border-radius: 3vh;
}

.hero-1gKM4P {
    border-radius: 4vh;
}

.ctaWrapper-4Js5Q6 {
    border-radius: 4vh;
}

.feature-2IUcBI {
    border-radius: 5vh;
}

.root-g14mjS {
    border-radius: 4vh;
}

.sourceThumbnail-ERDcZE {
    border-radius: 4vh;
}

.chat-2ZfjoI {
border-radius: 0 0 0 4vh;
}