:root {

}

.content-1gYQeQ {
    border-radius: 10vh;
}

.container-32HW5s {
    border-radius: 10vh;

}

.button-12Fmur {
    border-radius: 10vh;
}
.folderIconWrapper-1oRIZr {
    border-radius: 16vh;
}

.side-2ur1Qk .item-3XjbnG {
    border-radius: 10vh;
}

.button-f2h6uQ {
    border-radius: 10vh;
}

.folder-241Joy {
    background-color: transparent;
}

.container-2oNtJn {
    border-radius: 10vh;
}

.item-2idW98 {
    border-radius: 10vh;
}

.notDetected-M3Ghh2, .nowPlaying-3UpuKc {
    border-radius: 10vh;
}

.backgroundOptionRing-1vvQ0C {
    border: 3px solid var(--brand-500);
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 2vh;
}

.backgroundOptionInner-SSz19O {
    border-radius: 10vh;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    border-radius: 10vh;
}




.topPill-3DJJNV .item-3XjbnG {
    border-radius: 10vh;
}

.platform-win .sidebar-1tnWFu {
    border-radius: 2.3vh 0 0;
}

.layout-1qmrhw {
    border-radius: 10vh;
}

.searchBar-jGtisZ {
    border-radius: 10vh;
}

.bd-button {
    border-radius: 10vh;
}

.bd-search-wrapper {
    border-radius: 10vh;
}

.bd-addon-list .bd-addon-card {
    border-radius: 4vh;
}

.bd-controls>.bd-addon-button:first-of-type {
    border-radius: 10vh 0 0 10vh;
}

.bd-controls>.bd-addon-button:last-of-type {
    border-radius: 0 10vh 10vh 0;
}

.cardWrapper-1bSePP {
    border-radius: 10vh;
}

.guild-2Fq4I5 {
    border-radius: 3vh;
}

.background-Gjdjzm {
    border-radius: 10vh;
}

.card-16VQ8C {
    border-radius: 4vh;
}

.accountProfileCard-lbN7n- {
    border-radius: 3vh;
}

.embed-hKpSrO {
    border-radius: 3vh;
}

.hero-1gKM4P {
    border-radius: 4vh;
}

.ctaWrapper-4Js5Q6 {
    border-radius: 4vh;
}

.feature-2IUcBI {
    border-radius: 5vh;
}

.root-g14mjS {
    border-radius: 4vh;
}

.sourceThumbnail-ERDcZE {
    border-radius: 2.5vh;
}

.menu-1QACrS {
    border-radius: 3vh;
}

.quickSelectPopout-2F0PXw {
    border-radius: 3vh;
}

.container-2ebMPP {
    border-radius: 3vh;
}

.itemCard-3Etziu {
    border-radius: 3vh;
}

.item-1Odj {
    border-radius: 10vh;
}

.pictureInPictureWindow-3ms5Zy{
    border-radius: 3vh;
}

.tile-2TcwiO {
    border-radius: 3vh;
}

.noiseCancellationPopout-2-e5Xz {
    border-radius: 3vh;
}

.scrollableContainer-15eg7h {
    border-radius: 3vh;
}

.overlayBackground-1KgwVi {
    border-radius: 3vh;
}

.connectedAccountContainer-3aLMHJ {
    border-radius: 3vh;
}

.listRow-Y5zoF8 {
    border-radius: 2vh;
}

.iconActiveMedium-27_R5B {
    border-radius: 50%;
}

.item-1OdjEX {
    border-radius: 10vh;
}

.listItemContents-2n2Uy9 {
    border-radius: 10vh;
}

.imageWrapper-oMkQl4 {
    border-radius: 2.4vh;
}

.navNext-2Fgwwk {
    margin-right: 0;
    background-color: #353535;
}

.navPrev-3Oe07S {
    margin-left: 0;
    background-color: #353535;
}


.wrapper-2bCXfR .originalLink-Azwuo9{
    border-radius: 0;
}

.messages-23can0 {
    border-radius: 3vh;
}

.contentWrapper-3vHNP2 {
    border-radius: 3vh;
}

.header-1zd7se {
    border-radius: 4vh 4vh 0 0;
}

.footer-31IekZ {
    border-radius: 0 0 4vh 4vh;
}

.membershipDialog-2wAdpQ {
    border-radius: 3vh;
}

.videoWrapper-1_H3B3 {
    border-radius: 3vh;
}

.option-1QI4c9{
    border-radius: 2vh;
}

.bd-select{
    border-radius: 2vh 2vh 0 0;
}

.bd-select .bd-select-options
{
    border-radius: 0 0 2vh 2vh;
}

.select-1Ia3hD{
    border-radius: 2vh;
}

.popout-1KHNAq{
    border-radius: 2vh;
}

.container-3jbRo5{
    border-radius: 10vh;
}

.container-30qY7E{
    border-radius: 10vh;
}

.statusTag-2MQURR{
    border-radius: 10vh;
}

.pageButtonPrev-3q9rh8 {
    border-radius: 3vh 0 0 3vh;
}

.pageButtonNext-2_bbdk {
    border-radius: 0 3vh 3vh 0;
}

.promotionCard-mo7ClH{
    border-radius: 10vh;
}

.promotionIcon-1YW8yh{
    border-radius: 50%;
}

.connectContainer-1hylYM {
    border-radius: 3vh;
}

.connection-YOVI9j{
    border-radius: 3vh;
}

.connectionHeader-Ixbb1s{
    border-radius: 3vh 3vh 0 0;
}

.container-QlmnKJ{
    border-radius: 6vh;
}

.integration-1qC-fv{
    border-radius: 10vh;
}

.radioBar-3w9XY-{
    border-radius: 10vh;
}

.categoryFade-3RRG67, .categoryFadeBlurple-1l49_Q{
    border-radius: 3vh;
}
.gif-2kTiNB{
    border-radius: 3vh;
}

.sticker-H2HhJD{
    border-radius: 1vh;
}

.wrapper-2vIMkT{
    border-radius: 10vh;
}

.messagesPopoutWrap-3zryHW{
    border-radius: 3vh;
}

.container-18GwIk{
    border-radius: 3vh;
}

.cozy-VmLDNB .timestamp-p1Df1m .edited-1v5nT8{
    color: rgba(255, 0, 0, 0.912);
}

.cozy-VmLDNB .timestamp-p1Df1m {
    color: rgba(234, 234, 234, 0.912);
}

.textContainer-36wgKK{
    border-radius: 3vh 3vh 0 0;
}

.footer-GXWBBp{
    border-radius: 0 0 3vh 3vh;
}

.languageSelector-2e1IuO{
    border-radius: 3vh;
}

.input-2g-os5{
    border-radius: 3vh;
}

.inviteRow-3vmB7i{
    border-radius: 3vh;
}

.colorPickerCustom-1swUKF{
    border-radius: 3vh;
}

.previewContainer-1GxmBJ{
    border-radius: 3vh;
}

.previewContainer-1xQAsw{
    border-radius: 4vh;
}

.roleRow-230vCm{
    border-radius: 10vh;
}

.role-2TIOKu{
    border-radius: 10vh;
}

.messageInputContainer-2rGDH8{
    border-radius: 10vh;
}

.userProfileOuter-1K_BYU{
    border-radius: 2.5vh;
}

.userPopoutInner-1hXSeY:before{
    border-radius: 2.5vh;
}

.roundedBanner-TdlJGa {
    border-radius: 2.5vh 2.5vh 0 0;
}

.image-36HiZc, .modal-3Crloo {
    border-radius: 0;
}

.tooltip-14MtrL {
    border-radius: 2.5vh;
}

.peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover {
    border-radius: 10vh;
}

.withTagAsButton-OsgQ9L:hover, .withTagless-10ooWt:hover {
    border-radius: 10vh;
}

.container-2McqkF {
    border-radius: 3vh;
}

.auto-2K3UW5::-webkit-scrollbar-thumb, .auto-2K3UW5::-webkit-scrollbar-track {
    border-radius: 16vh;
}

.folder-241Joy.hover-3m7-WT {
    background-color: transparent;
}

.listItem-3SmSlK{
    border-radius: 50%;
}
.wrapper-28eC3z{
    border-radius: 50%;
}

.mouse-mode.full-motion .message-2CShn3:hover {
    border-radius: 0 10vh 10vh 0;
}

.mentioned-Tre-dv {
    border-radius: 0 10vh 10vh 0;
}

.unreadPill-3nEWYM {
    border-radius: 0 4vh 4vh 0;
}

.repliedMessage-3Z6XBG:before {
    --spine-width: 4px; 
}

.username-h_Y3Us {
    color: white;
}

.searchResult-O9NDji {
    border-radius: 5vh;
}

.button-cfOvv- {
    border-radius: 5vh;
}

.bar-1Bhnl9 {
    border-radius: 4vh;
}

.background-3d_SjE {
    border-radius: 2vh;
}

.vs-dark{
    top: 10px;
    border-radius: 1vh
}

.overflow-guard{
    border-radius: 1vh
}

.bd-toast {
    border-radius: 2vh;
}

.content-1Tgc42 {
    border-radius: 4vh;
}

.mainCard-3KBsBI {
    border-radius: 3vh;
}

.reaction-102jx9 {
    border-radius: 8vh;
}