/**
  * @name Rounded
  * @author OlaYZen#6969
  * @version 1.2
  * @description Discord but with rounded corners
  * @authorId 524932775787364362
  * @authorLink https://github.com/OlaYZen
  * @source https://github.com/OlaYZen/RoundedPlus
  * @website https://olayzen.lol
*/

@import url('https://www.olayzen.lol/BetterDiscordAddons/Themes/Rounded/Rounded.theme.css');
@import url("https://www.olayzen.lol/BetterDiscordAddons/Themes/Rounded/HorizontalServerList.css");
/* Horizontal Server List thanks to Gibbu */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css");
/* EmojiReplacer thanks to Devilbro */

@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css');
/* Better Badges thanks to mr_miner */

:root {
  --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
  --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
  --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
  --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
  --badges-everywhere-size: 15px; /*default = 15px*/
}

