@font-face{
    font-family: "DX";
    src: url("https://speakmore.olayzen.com/fonts/DXLBaB-KSCpc-EUC-H.ttf") format("truetype");
}

@font-face{
    font-family: "Tommy-Soft-Regular";
    src: url("https://www.olayzen.com/BetterDiscordAddons/Themes/Fonts/Tommy-Soft-Regular.otf") format("truetype");
}
