@font-face{
    font-family: "DX";
    src: url("https://speakmore.olayzen.lol/fonts/DXLBaB-KSCpc-EUC-H.ttf") format("truetype");
}

@font-face{
    font-family: "MontBlanc";
    src: url("https://www.olayzen.lol/BetterDiscordAddons/Themes/Fonts/Tommy-Soft-Regular.otf") format("truetype");
}