.bd-name, .theme-dark .wrapper-1ZcZW- {
    background: linear-gradient(to right, #ff0000, #ff6e00 , #ffff00, #18b518, #00d3ff, #3434c9, #d300ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 60s ease-in-out infinite;
    background-size: 1000% 100%;
}

.timeline-UWmgAx:hover .barFill-Dhkah7,.barFill-2Bh7CX {
    background: linear-gradient(to right, #ff0000, #ff6e00 , #ffff00, #18b518, #00d3ff, #3434c9, #d300ff);
    animation: rainbow_animation 60s ease-in-out infinite;
    background-size: 400% 100%;
}


@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.mention {
    border-radius: 20px;
    padding: 2px 0 !important;
    margin-left: 0 !important;
    text-align: center;
}

.mention.iconMention-3WxjBe, .mention.iconMentionThread-3eRpNo {
    padding-left: 0px !important;
}