:root {
    --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
    --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
    --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
    --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
    --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
    --badges-everywhere-size: 15px; /*default = 15px*/
}

.theme-dark {
    --header-primary: white;
    --header-secondary: #898989;
    --text-normal: #ffffff;
    --text-muted: rgb(234, 234, 234);
    --text-link: rgb(121, 180, 247);
    --text-link-low-saturation: rgb(121, 180, 247);
    --text-positive: rgb(0, 255, 0);
    --text-warning: yellow;
    --text-danger: red;
    --text-brand: var(--brand-360);
    --interactive-normal: #ffffff;
    --interactive-hover: rgb(255, 255, 255);
    --interactive-active: white;
    --interactive-muted: gray;
    --background-primary: #000000;
    --background-secondary: #1f1f1f;
    --background-secondary-alt: #121212;
    --background-tertiary: #272727;
    --background-accent: rgb(56, 56, 56);
    --background-floating: #000000;
    --background-nested-floating: red;
    --background-mobile-primary: red;
    --background-mobile-secondary: red;
    --chat-background: red;
    --chat-border: red;
    --chat-input-container-background: red;
    --background-modifier-hover: rgba(var(--primary-dark-500-rgb),0.4);
    --background-modifier-active: rgba(var(--primary-dark-500-rgb),0.48);
    --background-modifier-selected: rgba(var(--primary-dark-500-rgb),0.6);
    --background-modifier-accent: rgba(var(--primary-dark-500-rgb),0.48);
    --info-positive-background: rgba(var(--status-green-600-rgb),0.1);
    --info-positive-foreground: var(--status-green-600);
    --info-positive-text: var(--white-500);
    --info-warning-background: rgba(var(--status-yellow-500-rgb),0.1);
    --info-warning-foreground: var(--status-yellow-500);
    --info-warning-text: var(--white-500);
    --info-danger-background: rgba(var(--status-red-500-rgb),0.1);
    --info-danger-foreground: var(--status-red-500);
    --info-danger-text: var(--white-500);
    --info-help-background: rgba(var(--link-500-rgb),0.1);
    --info-help-foreground: var(--link-500);
    --info-help-text: var(--white-500);
    --status-positive-background: var(--status-green-660);
    --status-positive-text: var(--white-500);
    --status-warning-background: var(--status-yellow-500);
    --status-warning-text: var(--black-500);
    --status-danger-background: var(--status-red-500);
    --status-danger-text: var(--white-500);
    --status-danger: var(--status-red-500);
    --status-positive: var(--status-green-600);
    --status-warning: var(--status-yellow-500);
    --button-danger-background: var(--status-red-530);
    --button-danger-background-hover: var(--status-red-600);
    --button-danger-background-active: var(--status-red-630);
    --button-danger-background-disabled: var(--status-red-530);
    --button-positive-background: var(--status-green-660);
    --button-positive-background-hover: var(--status-green-730);
    --button-positive-background-active: var(--status-green-760);
    --button-positive-background-disabled: var(--status-green-660);
    --button-secondary-background: var(--primary-dark-500);
    --button-secondary-background-hover: var(--primary-dark-430);
    --button-secondary-background-active: var(--primary-dark-400);
    --button-secondary-background-disabled: var(--primary-dark-500);
    --button-outline-danger-text: var(--white-500);
    --button-outline-danger-border: var(--status-red-500);
    --button-outline-danger-background: rgba(var(--white-500-rgb),0);
    --button-outline-danger-background-hover: var(--status-red-530);
    --button-outline-danger-text-hover: var(--white-500);
    --button-outline-danger-border-hover: var(--status-red-530);
    --button-outline-danger-background-active: var(--status-red-560);
    --button-outline-danger-text-active: var(--white-500);
    --button-outline-danger-border-active: var(--status-red-530);
    --button-outline-positive-text: var(--white-500);
    --button-outline-positive-border: var(--status-green-600);
    --button-outline-positive-background: rgba(var(--white-500-rgb),0);
    --button-outline-positive-background-hover: var(--status-green-660);
    --button-outline-positive-text-hover: var(--white-500);
    --button-outline-positive-border-hover: var(--status-green-660);
    --button-outline-positive-background-active: var(--status-green-730);
    --button-outline-positive-text-active: var(--white-500);
    --button-outline-positive-border-active: var(--status-green-730);
    --button-outline-brand-text: var(--white-500);
    --button-outline-brand-border: var(--brand-500);
    --button-outline-brand-background: rgba(var(--white-500-rgb),0);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-text-hover: var(--white-500);
    --button-outline-brand-border-hover: var(--brand-500);
    --button-outline-brand-background-active: var(--brand-560);
    --button-outline-brand-text-active: var(--white-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-primary-text: var(--white-500);
    --button-outline-primary-border: var(--primary-dark-500);
    --button-outline-primary-background: rgba(var(--white-500-rgb),0);
    --button-outline-primary-background-hover: var(--primary-dark-500);
    --button-outline-primary-text-hover: var(--white-500);
    --button-outline-primary-border-hover: var(--primary-dark-500);
    --button-outline-primary-background-active: var(--primary-dark-430);
    --button-outline-primary-text-active: var(--white-500);
    --button-outline-primary-border-active: var(--primary-dark-430);
    --modal-background: black;
    --modal-footer-background: transparent;
    --scrollbar-thin-thumb: #ffffff;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #ffffff;
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: #ffffff;
    --scrollbar-auto-scrollbar-color-track: transparent;
    --input-background: var(--primary-dark-700);
    --input-placeholder-text: var(--input-placeholder-text-dark);
    --logo-primary: var(--white-500);
    --focus-primary: var(--focus-primary-500);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-new-360);
    --background-mentioned: rgba(var(--status-yellow-500-rgb),0.1);
    --background-mentioned-hover: rgba(var(--status-yellow-500-rgb),0.08);
    --background-message-hover: #111111;
    --background-message-automod: rgba(var(--status-red-500-rgb),0.05);
    --background-message-automod-hover: rgba(var(--status-red-500-rgb),0.1);
    --background-message-highlight: rgba(var(--brand-360-rgb),0.08);
    --background-message-highlight-hover: rgba(var(--brand-360-rgb),0.06);
    --channels-default: rgb(130, 130, 130);
    --channel-icon: rgb(255, 255, 255);
    --channel-text-area-placeholder: gray;
    --channeltextarea-background: #1a1a1a;
    --activity-card-background: var(--primary-dark-700);
    --textbox-markdown-syntax: var(--primary-dark-360);
    --spoiler-revealed-background: var(--primary-dark-660);
    --spoiler-hidden-background: var(--primary-dark-700);
    --android-navigation-bar-background: var(--primary-dark-830);
    --android-ripple: rgba(var(--white-500-rgb),0.07);
    --deprecated-card-bg: rgba(var(--primary-dark-700-rgb),0.6);
    --deprecated-card-editable-bg: rgba(var(--primary-dark-700-rgb),0.3);
    --deprecated-store-bg: var(--primary-dark-600);
    --deprecated-quickswitcher-input-background: var(--primary-dark-400);
    --deprecated-quickswitcher-input-placeholder: rgba(var(--white-500-rgb),0.3);
    --deprecated-text-input-bg: var(--primary-dark-700);
    --deprecated-text-input-border: rgba(var(--black-500-rgb),0.3);
    --deprecated-text-input-border-hover: var(--primary-dark-900);
    --deprecated-text-input-border-disabled: var(--primary-dark-700);
    --deprecated-text-input-prefix: var(--primary-dark-200);
    --icon-back:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z'/%3E%3C/svg%3E");
}

.content-1gYQeQ {
    border-radius: 10vh;
}

.container-32HW5s {
    border-radius: 10vh;

}

.button-12Fmur {
    border-radius: 10vh;
}
.folderIconWrapper-1oRIZr {
    border-radius: 16vh;
}

.side-2ur1Qk .item-3XjbnG {
    border-radius: 10vh;
}

.button-f2h6uQ {
    border-radius: 10vh;
}

.folder-241Joy {
    background-color: transparent;
}

.container-2oNtJn {
    border-radius: 10vh;
}

.item-2idW98 {
    border-radius: 10vh;
}

.notDetected-M3Ghh2, .nowPlaying-3UpuKc {
    border-radius: 10vh;
}

.backgroundOptionRing-1vvQ0C {
    border: 3px solid var(--brand-500);
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 2vh;
}

.backgroundOptionInner-SSz19O {
    border-radius: 10vh;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    border-radius: 10vh;
}




.topPill-3DJJNV .item-3XjbnG {
    border-radius: 10vh;
}

.platform-win .sidebar-1tnWFu {
    border-radius: 2.3vh 0 0;
}

.layout-1qmrhw {
    border-radius: 10vh;
}

.searchBar-jGtisZ {
    border-radius: 10vh;
}

.bd-button {
    border-radius: 10vh;
}

.bd-search-wrapper {
    border-radius: 10vh;
}

.bd-addon-list .bd-addon-card {
    border-radius: 4vh;
}

.bd-controls>.bd-addon-button:first-of-type {
    border-radius: 10vh 0 0 10vh;
}

.bd-controls>.bd-addon-button:last-of-type {
    border-radius: 0 10vh 10vh 0;
}

.cardWrapper-1bSePP {
    border-radius: 10vh;
}

.guild-2Fq4I5 {
    border-radius: 3vh;
}

.background-Gjdjzm {
    border-radius: 10vh;
}

.card-16VQ8C {
    border-radius: 4vh;
}

.accountProfileCard-lbN7n- {
    border-radius: 3vh;
}

.embed-hKpSrO {
    border-radius: 3vh;
}

.hero-1gKM4P {
    border-radius: 4vh;
}

.ctaWrapper-4Js5Q6 {
    border-radius: 4vh;
}

.feature-2IUcBI {
    border-radius: 5vh;
}

.root-g14mjS {
    border-radius: 4vh;
}

.sourceThumbnail-ERDcZE {
    border-radius: 2.5vh;
}

.menu-1QACrS {
    border-radius: 3vh;
}

.quickSelectPopout-2F0PXw {
    border-radius: 3vh;
}

.container-2ebMPP {
    border-radius: 3vh;
}

.itemCard-3Etziu {
    border-radius: 3vh;
}

.item-1Odj {
    border-radius: 10vh;
}

.pictureInPictureWindow-3ms5Zy{
    border-radius: 3vh;
}

.tile-2TcwiO {
    border-radius: 3vh;
}

.noiseCancellationPopout-2-e5Xz {
    border-radius: 3vh;
}

.scrollableContainer-15eg7h {
    border-radius: 3vh;
}

.overlayBackground-1KgwVi {
    border-radius: 3vh;
}

.connectedAccountContainer-3aLMHJ {
    border-radius: 3vh;
}

.listRow-Y5zoF8 {
    border-radius: 2vh;
}

.iconActiveMedium-27_R5B {
    border-radius: 50%;
}

.item-1OdjEX {
    border-radius: 10vh;
}

.listItemContents-2n2Uy9 {
    border-radius: 10vh;
}

.imageWrapper-oMkQl4 {
    border-radius: 2.4vh;
}

.navNext-2Fgwwk {
    margin-right: 0;
    background-color: #353535;
}

.navPrev-3Oe07S {
    margin-left: 0;
    background-color: #353535;
}


.wrapper-2bCXfR .originalLink-Azwuo9{
    border-radius: 0;
}

.messages-23can0 {
    border-radius: 3vh;
}

.contentWrapper-3vHNP2 {
    border-radius: 3vh;
}

.header-1zd7se {
    border-radius: 4vh 4vh 0 0;
}

.footer-31IekZ {
    border-radius: 0 0 4vh 4vh;
}

.membershipDialog-2wAdpQ {
    border-radius: 3vh;
}

.videoWrapper-1_H3B3 {
    border-radius: 3vh;
}

.option-1QI4c9{
    border-radius: 2vh;
}

.bd-select{
    border-radius: 2vh 2vh 0 0;
}

.bd-select .bd-select-options
{
    border-radius: 0 0 2vh 2vh;
}

.select-1Ia3hD{
    border-radius: 2vh;
}

.popout-1KHNAq{
    border-radius: 2vh;
}

.container-3jbRo5{
    border-radius: 10vh;
}

.container-30qY7E{
    border-radius: 10vh;
}

.statusTag-2MQURR{
    border-radius: 10vh;
}

.pageButtonPrev-3q9rh8 {
    border-radius: 3vh 0 0 3vh;
}

.pageButtonNext-2_bbdk {
    border-radius: 0 3vh 3vh 0;
}

.promotionCard-mo7ClH{
    border-radius: 10vh;
}

.promotionIcon-1YW8yh{
    border-radius: 50%;
}

.connectContainer-1hylYM {
    border-radius: 3vh;
}

.connection-YOVI9j{
    border-radius: 3vh;
}

.connectionHeader-Ixbb1s{
    border-radius: 3vh 3vh 0 0;
}

.container-QlmnKJ{
    border-radius: 6vh;
}

.integration-1qC-fv{
    border-radius: 10vh;
}

.radioBar-3w9XY-{
    border-radius: 10vh;
}

.categoryFade-3RRG67, .categoryFadeBlurple-1l49_Q{
    border-radius: 3vh;
}
.gif-2kTiNB{
    border-radius: 3vh;
}

.sticker-H2HhJD{
    border-radius: 1vh;
}

.wrapper-2vIMkT{
    border-radius: 10vh;
}

.messagesPopoutWrap-3zryHW{
    border-radius: 3vh;
}

.container-18GwIk{
    border-radius: 3vh;
}

.cozy-VmLDNB .timestamp-p1Df1m .edited-1v5nT8{
    color: rgb(255, 0, 0);
}

.cozy-VmLDNB .timestamp-p1Df1m {
    color: rgba(234, 234, 234, 0.761);
}

.textContainer-36wgKK{
    border-radius: 3vh 3vh 0 0;
}

.footer-GXWBBp{
    border-radius: 0 0 3vh 3vh;
}

.languageSelector-2e1IuO{
    border-radius: 3vh;
}

.input-2g-os5{
    border-radius: 3vh;
}

.inviteRow-3vmB7i{
    border-radius: 3vh;
}

.colorPickerCustom-1swUKF{
    border-radius: 3vh;
}

.previewContainer-1GxmBJ{
    border-radius: 3vh;
}

.previewContainer-1xQAsw{
    border-radius: 4vh;
}

.roleRow-230vCm{
    border-radius: 10vh;
}

.role-2TIOKu{
    border-radius: 10vh;
}

.messageInputContainer-2rGDH8{
    border-radius: 10vh;
}

.userProfileOuter-1K_BYU{
    border-radius: 2.5vh;
}

.userPopoutInner-1hXSeY:before{
    border-radius: 2.5vh;
}

.roundedBanner-TdlJGa {
    border-radius: 2.5vh 2.5vh 0 0;
}

.image-36HiZc, .modal-3Crloo {
    border-radius: 0;
}

.tooltip-14MtrL {
    border-radius: 2.5vh;

}

.peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover {
    border-radius: 10vh;
}

.withTagAsButton-OsgQ9L:hover, .withTagless-10ooWt:hover {
    border-radius: 10vh;
}

.container-2McqkF {
    border-radius: 3vh;
}

.auto-2K3UW5::-webkit-scrollbar-thumb, .auto-2K3UW5::-webkit-scrollbar-track {
    border-radius: 16vh;
}

.folder-241Joy.hover-3m7-WT {
    background-color: transparent;
}

.listItem-3SmSlK{
    border-radius: 50%;
}
.wrapper-28eC3z{
    border-radius: 50%;
}

.mouse-mode.full-motion .message-2CShn3:hover {
    border-radius: 0 20px 20px 0;
}

.mentioned-Tre-dv {
    border-radius: 0 20px 20px 0;
}

.unreadPill-3nEWYM {
    border-radius: 0 4vh 4vh 0;
}

.repliedMessage-3Z6XBG:before {
    --spine-width: 4px; 
}

.username-h_Y3Us {
    color: white;
}

.searchResult-O9NDji {
    border-radius: 5vh;
}

.button-cfOvv- {
    border-radius: 5vh;
}

.bar-1Bhnl9 {
    border-radius: 4vh;
}

.background-3d_SjE {
    border-radius: 2vh;
}

.vs-dark{
    top: 10px;
    border-radius: 1vh
}

.overflow-guard{
    border-radius: 1vh
}

.bd-toast {
    border-radius: 2vh;
}

.content-1Tgc42 {
    border-radius: 4vh;
}

.mainCard-3KBsBI {
    border-radius: 3vh;
    background-color: var(--background-secondary);

}

.reaction-102jx9 {
    border-radius: 8vh;
}

.panels-3wFtMD {
    border-radius: 2vh 2vh 0 0;
}

.icon-39rdLt {
    border-radius: 3vh;
}

.upsellTooltipWrapper-1wqikQ {
    border-radius: 3vh;
}

.container-3a5mk- {
    border-radius: 2vh;
}

.label-3TDpbn {
    border-radius: 10vh;
}

.container-1SX9VC {
    border-radius: 10vh;
}

.qwert-toast {
    border-radius: 3vh;
}

.wrapper-1HIH0j {
    border-radius: 3vh;
}

.iconActiveLarge-ac-EDu {
    border-radius: 50%
}

.wrapper-1FP9YQ {
    border-radius: 2vh;
}

.audioControls-3fmemK {
    border-radius: 3vh;
}

.baseShapeRound-3epLEv .element.style {
    border-radius: 3vh;
}

.px-MnE_OR.botTag-7aX5WZ {
    border-radius: 3vh;
}

#app-mount .guilds-2JjMmN .frame-oXWS21[class*=listItem] .button-Jt-tIg {
    font-size: 10px;
}

.childWrapper-1j_1ub {
    background-color: transparent;
}

#app-mount .guilds-2JjMmN [class*=expandedFolderBackground] {
    border-radius: 50vh;
}

.channelTextArea-1FufC0 {
    margin-bottom: 6px;
}

.base-3bcbY3 {
    position: absolute;
    bottom: 10px;
    left: 62px;
    right: 12px;
    height: 5px;
    font-size: 10px;
}

.channelTextArea-1FufC0 {
    margin-bottom: 6px;
}

.cozyMessage-1DWF9U .contents-2MsGLg > .markup-eYLPri:not(:empty, code) {
    background-color: #1f1f1f;
    display: inline-block;
    max-width: 650px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 8px;
    border-radius: 15px;
}

.markup-eYLPri blockquote, .markup-eYLPri pre {
    max-width: 100%;
}

.quickswitcher-pKcM9U {
    border-radius: 3vh;
    background-color: var(--background-primary);
}

.input-3r5zZY {
    border-radius: 10vh;
    background-color: var(--background-tertiary);
}


.theme-dark .autocomplete-3NRXG8 {
    background-color: var(--background-secondary);
}

.autocomplete-3jLKbj {
    border-radius: 2vh;
}

.bd-switch input:checked+.bd-switch-body {
    --switch-color: rgb(3, 209, 255);
}
.bd-switch-body {
    --switch-color: transparent;
}

.bd-switch input {
    border: 2px solid #04AA6D;
    padding: 2px;
}

.checked-25WXMf{
    background-color: #60cdff !important;
    border: 1px solid black;
}

.container-1zDvAE{
    background-color: rgb(31, 31, 31) !important;
    padding: 20px!important; 
    margin: 2px;
    border-radius: 2vh;
}

.sidebarRegion-1VBisG {
    width: var(--sidebar-width);
    flex: 1 0 var(--sidebar-width);
    top: 0;
    box-sizing: border-box;
    position: relative
}

.sidebarRegion-1VBisG:after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: var(--blur-sidebar);
    transition: var(--app-focused-transition)
}

[class^=contentColumn][class*=contentColumnDefault],
[class^=contentColumn][class*=contentColumnMinimal] {
    z-index: 0
}

.contentColumn-1C7as6 {
    max-width: 100%
}

.contentColumnDefault-3eyv5o {
    position: relative;
    z-index: 0;
    padding-top: var(--settings-top)
}

.contentRegion-3HkfJJ {
    flex: 1 1 90%;
    padding-top: 20px;
}

.dividerDefault-3C2-ws {
    display: none;
}

.theme-dark .container-3wLKDe {
    background-color: var(--background-primary);
}

.accountProfileCard-lbN7n->.settingsBanner-1eDJ5w.bannerPremium-kkSkPv {
    visibility: hidden;
}

.accountProfileCard-lbN7n- {
    background-color: var(--background-tertiary);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.background-3d_SjE {
    border-radius: 8px;
    background-color: var(--background-secondary);
    padding: 16px;
    margin: 8px 16px 16px;
}

.standardSidebarView-E9Pc3j, .standardSidebarView-E9Pc3j * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.children-1xdcWE, .sectionTitle-3j2YI1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.children-1xdcWE {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
a, button, div, input, label, select, span, strong, textarea {
    outline: 0;
}

.accountProfileCard-lbN7n->.settingsBanner-1eDJ5w.bannerPremium-kkSkPv {
    visibility: hidden;
}
.accountProfileCard-lbN7n->.settingsBanner-1eDJ5w.bannerPremium-kkSkPv {
    visibility: hidden;
}

.accountProfileCard-lbN7n->.settingsBanner-1eDJ5w.bannerPremium-kkSkPv:before, .accountProfileCard-lbN7n->.settingsBanner-1eDJ5w.bannerPremium-kkSkPv:after {
    width: inherit;
    visibility: visible;
    height: 500px;
}
.banner-2boKnS:after, .banner-1YaD3N:after, .bannerNormal-22rPhb:after, .bannerUploaderInnerSquare-1ddxpx:after, [class^=bannerNitroUpsell] {
    background-image: inherit !important;
    background-color: inherit !important;
    --mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.32) 80%, rgba(0, 0, 0, 0.16) 84%, rgba(0, 0, 0, 0.08) 88%, rgba(0, 0, 0, 0.04) 92%, rgba(0, 0, 0, 0.02) 96%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    height: 136px;
    width: 100%;
    pointer-events: none;
    visibility: visible;
}
.banner-2boKnS:after, .banner-2boKnS:before, .banner-1YaD3N:after, .banner-1YaD3N:before, .bannerNormal-22rPhb:after, .bannerNormal-22rPhb:before, .bannerUploaderInnerSquare-1ddxpx:after, .bannerUploaderInnerSquare-1ddxpx:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.avatar-3mTjvZ {
    background-color: transparent !important;
    border: 0 !important;
    
}

.background-3d_SjE {
    border-radius: 8px;
    background-color: var(--background-secondary);
    padding: 16px;
    margin: 8px 16px 16px;
}

.background-3d_SjE, .popoutInfo-pKbpvG, .userInfo-regn9W {
    position: relative;
}

.accountProfileCard-lbN7n- .avatar-3mTjvZ {
    width: 80px !important;
    height: 80px !important;
    top: -10px !important;
}

.previewMessage-2g_aBv {
    border-radius: 3vh;
}

.textBadge-1fdDPJ{
    border-radius: 3vh !important; 
}

.theme-dark .popoutList-10IFAa {
    background: var(--background-secondary-alt);
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    color: var(--white-500);
    background-color: var(--background-secondary-alt);
}

.mention {
    border-radius: 2vh;
    padding: 2px 4px;
    text-align: center;
}

.theme-dark .wrapper-1ZcZW- {
    background: #6a7de98f;
    color: var(--brand-experiment-200);
}

.container-20TyK0 {
    border-radius: 3vh;
}

.bannerSVGWrapper-qc0szY {
    z-index: 1;
}

svg:not(:root) {
    overflow: hidden;
}

.popoutBannerPremium-2RvDNZ {
    height: 120px;
    min-height: 120px;
}
.bannerPremium-86naOf {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.accountAddInner-2y9WLL {
    border-radius: 3vh;
}

.inner-1lPVFp {
    border-radius: 3vh
}

.roundedBanner-TdlJGa {
    border-radius: 4px 4px 0 0;
}

.root-2s1-ri>:last-child {
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
}


.bannerSVGWrapper-qc0szY {
    z-index: 1;
}
svg:not(:root) {
    overflow: hidden;
}

foreignObject {
    display: block;
    overflow: hidden;
}

.topSection-1Khgkv>header>.bannerSVGWrapper-qc0szY[viewBox*="212"] {
    margin-bottom: -40px;
}
.topSection-1Khgkv>header>.bannerSVGWrapper-qc0szY {
    height: 100%;
    max-width: 600px;
    min-width: 600px !important;
    z-index: 0;
    overflow: visible;
    position: relative;
}

[class^="userPopoutInner"]>.bannerSVGWrapper-qc0szY foreignObject, .topSection-1Khgkv>header>.bannerSVGWrapper-qc0szY foreignobject {
    mask: none;
}
[class*="WithBanner"] .bannerSVGWrapper-qc0szY foreignObject {
    transform: translateY(-8px);
    border-radius: 3vh;
}

.topSection-1Khgkv {
    margin-bottom: 60px;
    z-index: 1;
}

.profileBannerPremium-3xIFwS, .profileBannerPremium-3xIFwS:after {
    height: 200px !important;
    top: 10px !important;
    border-radius: 3vh !important;
}
.banner-2boKnS {
    visibility: hidden;
}
.profileBannerPremium-3xIFwS {
    height: 212px;
    min-height: 212px;
}
.bannerSVGWrapper-qc0szY {
    z-index: 1;
}
svg:not(:root) {
    overflow: hidden;
}

foreignObject {
    display: block;
    overflow: hidden;
}

.topSection-1Khgkv>header>.bannerSVGWrapper-qc0szY[viewBox*="212"] {
    margin-bottom: -40px;
}
.topSection-1Khgkv>header>.bannerSVGWrapper-qc0szY {
    height: 100%;
    max-width: 600px;
    min-width: 600px !important;
    z-index: 0;
    overflow: visible;
    position: relative;
}

[class^="userPopoutInner"]>.bannerSVGWrapper-qc0szY foreignObject, .topSection-1Khgkv>header>.bannerSVGWrapper-qc0szY foreignobject {
    mask: none;
}
[class*="WithBanner"] .bannerSVGWrapper-qc0szY foreignObject {
    transform: translateY(-8px);
    border-radius: 3vh;
}

.topSection-1Khgkv {
    margin-bottom: 60px;
    z-index: 1;
}


.banner-2boKnS {
    visibility: hidden;
}
.profileBannerPremium-3xIFwS {
    height: 212px;
    min-height: 212px;
}

.theme-dark .spoilerText-27bIiA.hidden-3B-Rum {
    background-color: #444444;
}

.invite-3uuHYQ {
    border-radius: 3vh;
}

.artwork-28Cmnt {
    border-radius: 2vh;
}

.coverImageWrapper-2wx5q1 {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    opacity: .4;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}


.toolbar-3_r2xA>.iconWrapper-2awDjA>svg[style]{
  display: none !important; 
}

.buttons-uaqb-5>.button-f2h6uQ>:not(.translateButton-DhP9x8) {
  display: none;
}




.message-2CShn3.selected-2LX7Jy, .mouse-mode.full-motion .message-2CShn3:hover {
  background-color: var(--background-message-hover);
}
.message-2CShn3:hover:before {
  background-color: rgba(255, 255, 255, .01);
}

.messageListItem-ZZ7v6g:hover .timestamp-p1Df1m, .messageListItem-ZZ7v6g:hover .timestampInline-_lS3aK {
  opacity: 1;
}

.timestamp-p1Df1m:not(.timestampInline-_lS3aK) {
    opacity: 0.2;
    transition: opacity .175s ease;
    transition-property: opacity;
    transition-duration: 0.175s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bd-toast.icon {
  padding-left: 30px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 6px 50%;
  margin-right: auto;
  opacity: 0.4;
}
.bd-toast {
  border-radius: 2vh;
  margin-right: auto;
  opacity: 0.4;
}


.qwert-toast {
  border-radius: 3vh !important;
}

.qwert-toast-bar {
  border-radius: 3vh !important;
}

.compact-2Nkcau.wrapper-30-Nkg, .cozy-VmLDNB.wrapper-30-Nkg {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@font-face{
  font-family: "LogoFont";
  src: url("https://speakmore.olayzen.lol/fonts/DXLBaB-KSCpc-EUC-H.ttf") format("truetype");
}

.cozyMessage-1DWF9U .contents-2MsGLg > .markup-eYLPri:not(:empty, code) {
  border-radius: 15vh !important;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-2g-os5 {
  border-radius: 5vh;
}

.searchBox-pyIJJj {
  border-radius: 5vh;
}

.card-2TuZPZ {
  border-radius: 25px;
}

.sidebar-1tnWFu {
  background: var(--background-tertiary);
}

.theme-dark .pageWrapper-2PwDoS{
  border-radius: 3vh 0 0 0;
}
.headerImage-2D5D-v {
  border-radius: 25px;
}

.scroller-WSmht3 {
  background-color: var(--background-tertiary);
}

.thin-31rlnD, .thin-31rlnD.fade-1R6FHN:hover, .thin-31rlnD.scrolling-20Of9p {
  scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
}

.privateChannels-oVe7HL {
  background-color: var(--background-tertiary);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: var(--background-secondary);
}

.chat-2ZfjoI{
  border-radius: 25px 0 0 0;
}.toolbar-3_r2xA>.iconWrapper-2awDjA>svg[style]{
    display: none !important; 
  }
  
  .buttons-uaqb-5>.button-f2h6uQ>:not(.translateButton-DhP9x8) {
    display: none;
  }
  
  
  
  
  .message-2CShn3.selected-2LX7Jy, .mouse-mode.full-motion .message-2CShn3:hover {
    background-color: var(--background-message-hover);
  }
  .message-2CShn3:hover:before {
    background-color: rgba(255, 255, 255, .01);
  }
  
  .messageListItem-ZZ7v6g:hover .timestamp-p1Df1m, .messageListItem-ZZ7v6g:hover .timestampInline-_lS3aK {
    opacity: 1;
  }
  
  .timestamp-p1Df1m:not(.timestampInline-_lS3aK) {
      opacity: 0.2;
      transition: opacity .175s ease;
      transition-property: opacity;
      transition-duration: 0.175s;
      transition-timing-function: ease;
      transition-delay: 0s;
  }
  
  .bd-toast.icon {
    padding-left: 30px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 6px 50%;
    margin-right: auto;
    opacity: 0.4;
  }
  .bd-toast {
    border-radius: 2vh;
    margin-right: auto;
    opacity: 0.4;
  }
  
  
  .qwert-toast {
    border-radius: 3vh !important;
  }
  
  .qwert-toast-bar {
    border-radius: 3vh !important;
  }
  
  .compact-2Nkcau.wrapper-30-Nkg, .cozy-VmLDNB.wrapper-30-Nkg {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  @font-face{
    font-family: "LogoFont";
    src: url("https://speakmore.olayzen.lol/fonts/DXLBaB-KSCpc-EUC-H.ttf") format("truetype");
  }
  
  .cozyMessage-1DWF9U .contents-2MsGLg > .markup-eYLPri:not(:empty, code) {
    border-radius: 15vh !important;
  }
  
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .input-2g-os5 {
    border-radius: 5vh;
  }
  
  .searchBox-pyIJJj {
    border-radius: 5vh;
  }
  
  .card-2TuZPZ {
    border-radius: 25px;
  }
  
  .sidebar-1tnWFu {
    background: var(--background-tertiary);
  }
  
  .theme-dark .pageWrapper-2PwDoS{
    border-radius: 3vh 0 0 0;
  }
  .headerImage-2D5D-v {
    border-radius: 25px;
  }
  
  .scroller-WSmht3 {
    background-color: var(--background-tertiary);
  }
  
  .thin-31rlnD, .thin-31rlnD.fade-1R6FHN:hover, .thin-31rlnD.scrolling-20Of9p {
    scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
  }
  
  .privateChannels-oVe7HL {
    background-color: var(--background-tertiary);
  }
  
  .searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--background-secondary);
  }
  
  .chat-2ZfjoI{
    border-radius: 25px 0 0 0;
  }

.toolbar-3_r2xA>.iconWrapper-2awDjA>svg[style]{
  display: none !important; 
}

.buttons-uaqb-5>.button-f2h6uQ>:not(.translateButton-DhP9x8) {
  display: none;
}




.message-2CShn3.selected-2LX7Jy, .mouse-mode.full-motion .message-2CShn3:hover {
  background-color: var(--background-message-hover);
}
.message-2CShn3:hover:before {
  background-color: rgba(255, 255, 255, .01);
}

.messageListItem-ZZ7v6g:hover .timestamp-p1Df1m, .messageListItem-ZZ7v6g:hover .timestampInline-_lS3aK {
  opacity: 1;
}

.timestamp-p1Df1m:not(.timestampInline-_lS3aK) {
    opacity: 0.2;
    transition: opacity .175s ease;
    transition-property: opacity;
    transition-duration: 0.175s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bd-toast.icon {
  padding-left: 30px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 6px 50%;
  margin-right: auto;
  opacity: 0.4;
}
.bd-toast {
  border-radius: 2vh;
  margin-right: auto;
  opacity: 0.4;
}


.qwert-toast {
  border-radius: 3vh !important;
}

.qwert-toast-bar {
  border-radius: 3vh !important;
}

.compact-2Nkcau.wrapper-30-Nkg, .cozy-VmLDNB.wrapper-30-Nkg {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@font-face{
  font-family: "LogoFont";
  src: url("https://speakmore.olayzen.lol/fonts/DXLBaB-KSCpc-EUC-H.ttf") format("truetype");
}

.cozyMessage-1DWF9U .contents-2MsGLg > .markup-eYLPri:not(:empty, code) {
  border-radius: 15vh !important;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-2g-os5 {
  border-radius: 5vh;
}

.searchBox-pyIJJj {
  border-radius: 5vh;
}

.card-2TuZPZ {
  border-radius: 25px;
}

.sidebar-1tnWFu {
  background: var(--background-tertiary);
}

.theme-dark .pageWrapper-2PwDoS{
  border-radius: 3vh 0 0 0;
}
.headerImage-2D5D-v {
  border-radius: 25px;
}

.scroller-WSmht3 {
  background-color: var(--background-tertiary);
}

.thin-31rlnD, .thin-31rlnD.fade-1R6FHN:hover, .thin-31rlnD.scrolling-20Of9p {
  scrollbar-color: var(--scrollbar-thin-thumb) var(--scrollbar-thin-track);
}

.privateChannels-oVe7HL {
  background-color: var(--background-tertiary);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: var(--background-secondary);
}

.chat-2ZfjoI{
  border-radius: 25px 0 0 0;
}

.container-2cd8Mz, .inviteToolbar-2k2nqz {
    border-radius: 25px 0 0 0;
}



.contentRegion-3HkfJJ{
  border-radius: 20vh;
}

.discriminator-2m-MqL{
  display: none;
}
/*
.usernameRow-1x50RR>.usernameInnerRow-1-STdK>.text-md-normal-304U3g {
  opacity: 0;
  transition: opacity .45s ease-in-out;
  -moz-transition: opacity .45s ease-in-out;
  -webkit-transition: opacity .45s ease-in-out;
}

.usernameInnerRow-1-STdK{
  background-color: var(--background-tertiary);
  border-radius: 25px;
}

.sidebarRegionScroller-FXiQOh {
  background: var(--background-tertiary);
}

.usernameRow-1x50RR>.usernameInnerRow-1-STdK>.text-md-normal-304U3g:hover {
  opacity: 1;
  transition: opacity .45s ease-in-out;
  -moz-transition: opacity .45s ease-in-out;
  -webkit-transition: opacity .45s ease-in-out;
}
*/
.lookFilled-yCfaCM.colorBrand-I6CyqQ:not(.button-1EGGcP, .button-f2h6uQ) {
  background-color: rgba(255, 0, 0, 0.35);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover:not(.button-1EGGcP, .button-f2h6uQ) {
  background-color: red;
}

.panels-3wFtMD {
  border-radius: 20px 20px 0 0;
}

.activityItem-1Z9CTr {
  border-radius: 20px;
}


.container-1NXEtd {
  background-color: var(--background-tertiary);
}

.member-48YF_l, .members-3WRCEx {
  border-radius: 25px 0 0 0;
  background-color: var(--background-secondary);
}

.container-2o3qEW {
  border-radius: 25px 0 0 0;
  background-color: var(--background-secondary);
}

.clickable-vvKY2q .header-3OsQeK:hover, .selected-1GtAC5 .header-3OsQeK {
  border-radius: 25px;
}

.header-3OsQeK {
  border-radius: 25px;
}

.group-LWHoGI {
  padding: 1px;
  border-radius: 25px;
  border-style: solid;
}

.deny-1GO6vI.selected-3jieYB {
  border-radius: 25px 0 0 25px;
}

.deny-1GO6vI {
  border-radius: 25px 0 0 25px;
}

.allow-1h61-Z {
  border-radius: 0 25px 25px 0;
}

.allow-1h61-Z.selected-3jieYB {
  border-radius: 0 25px 25px 0;
}

.item-4m-12I:hover {
  border-radius: 0px;
}

.deny-1GO6vI:hover {
  border-radius: 25px 0 0 25px;
}

.allow-1h61-Z:hover{
  border-radius: 0 25px 25px 0;
}

.slider-32CRPX rect{
  fill: black;
}

.control-1fl03- {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.standardSidebarView-E9Pc3j, .standardSidebarView-E9Pc3j * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container-2nx-BQ, .input-2XRLou {
  border-radius: 14px;
  cursor: pointer;
}
.container-2nx-BQ {
  position: relative;
  width: 40px;
  height: 24px;
}

.slider-32CRPX {
  display: block;
  position: absolute;
  left: 0;
  width: 28px;
  height: 18px;
  margin: 3px;
}

.container-2nx-BQ.checked-25WXMf>svg{
    height: 19px;
}

.container-2nx-BQ.checked-25WXMf>svg>rect{
    height: 17px;
    width: 17px;
}

.messageGroupWrapper-1jf_7C {
    border-radius: 20px;
}

.background-3d_SjE {
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px rgba(0, 0, 0, 0.08) solid;
}
.fieldList-in8WkP {
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.h5-2RwDNl, .label-2bTGzo, .legend-1TXTJO{
    color: rgba(255, 255, 255, 0.511);
}


.bd-switch-slider rect{
    fill: black;
}

.bd-switch-slider svg{
    display: none;
}

.bd-switch input:checked+.bd-switch-body {
    background-color: #60cdff !important;
}

.bd-switch input+.bd-switch-body {
    background-color: #72767d !important;
}

[class*="WithBanner"] .bannerSVGWrapper-qc0szY foreignObject {
    border-radius: 20px 20px 0 0 !important;
    filter: blur(0px);
}

[class*="WithBanner"] .bannerSVGWrapper-qc0szY foreignobject {
    transform: translateY(0px);
}

.userProfileInner-3F03PX:before{
    filter: blur(10px);
}

.iconWrapper-2awDjA.clickable-ZD7xvu>svg>g{
    visibility: hidden;
}


.chatContent-3KubbW {
	max-width: calc(100% - 60px);
}

.title-31SJ6t {
	z-index: 11;
}

.members-3WRCEx,
.membersWrap-3NUR2t {
	border-radius: 20px 0 0 20px !important;
	min-width: 60px;
	transition-duration: 500ms;
	transition-property: box-shadow, min-width, width;
	width: 60px;
	z-index: 10;
}

.members-3WRCEx:hover,
.membersWrap-3NUR2t:hover {
	min-width: 240px;
	width: 240px;
}

.membersWrap-3NUR2t {
	height: 100%;
	position: absolute;
	right: 0;
}

.membersWrap-3NUR2t:hover {
	box-shadow: 0 0 20px 10px #00000044;
}

.membersGroup-2eiWxl {
	height: 0;
	transition-duration: 500ms;
	transition-property: height;
    padding: 0;
}

.membersGroup-2eiWxl {
    padding: 24px 8px 0 16px;
}

.members-3WRCEx:hover .membersGroup-2eiWxl {
	height: 40px;
}

.customColorPicker-C_jddW {
  border-radius: 24px;
}
.theme-dark .customColorPicker-C_jddW{
  background-color: var(--background-secondary);
}

.slider-32CRPX>svg{
  display: none;
}

.text-xs-medium-2LRpEj, .text-xs-normal-3SiVjE {
  font-size: 13px;
  font-weight: bold;
}

.sidebarRegionScroller-FXiQOh{
  background-color: var(--background-tertiary);
}

.theme-dark .pageWrapper-2PwDoS {
  background-color: var(--background-primary);
}

.text-md-medium-2avxhQ, .text-md-normal-304U3g, .userTag-2qPxEZ, .title-338goq {
    font-weight: bold;
  }
  
  .subtext-2HDqJ7 {
    color: rgba(255, 255, 255, 0.937);
  }
  
  .closeButton-PCZcma svg {
    --icon: var(--icon-back);
    --mask-size: 100%;
    --size: 24px;
    width: var(--size);
    height: var(--size);
    background-color: var(--interactive-normal);
    transition: background-color .25s ease;
    -webkit-mask-size: var(--mask-size);
    mask-size: var(--mask-size);
    -webkit-mask-image: var(--icon);
    mask-image: var(--icon);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }
  
  
  .closeButton-PCZcma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 36px;
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
    border-radius: 14px;
    border-width: 2px;
    border-style: solid;
    background-color: var(--background-tertiary);
    border-color: white;
    cursor: pointer;
  }
  
  
  .keybind-13vtq8{
    display: none;
  }
  
  .wrapper-2bCXfR>.imageWrapper-oMkQl4, .embedMedia-1mdWSP{
    border-radius: 0px;
  }
  
  .bd-addon-list .bd-addon-card {
    border-radius: 24px;
  }
  
  .bd-addon-list .bd-addon-header, .username-3JLfHz, .title-338goq, .theme-dark .wrapper-1ZcZW-{ 
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
  }
  
  @keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }
  
    50% {
        background-position: 100% 0;
    }
  }