.backgroundAvatarsVariant1-kC5G9W,.heroImages-2g-v0- {
    background: no-repeat var(--weather) !important; 
}

.heroImages-2g-v0- {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-2rQ_qr,.hero-1gKM4P {
    background: white !important;
}

.hero-2rQ_qr,.hero-1gKM4P {
    height: 400px;
    width: 800px;
}

.premiumLabel-3HPvdB::before {
    content: "Weather" !important;
    color: white !important;
}

.premiumLabel-3HPvdB{
    color: transparent !important;
}

.selected-g-kMVV[aria-label="Nitro"]:after {
    content: "Weather" !important;
}

.premiumLabel-3HPvdB>svg{
    display: none;
}

.container--8P6Tr>svg,.ctaWrapper-4Js5Q6,.theme-dark .feature-2IUcBI,.perksGridHeading-1z7LE-,.footerCtasHeading-p5fP62{
    display: none;
}

.defaultColor-24IHKz.text-sm-medium-3Pz3rB::before {
    content: "Change the weather location inside the Rounded theme file.";
    color: white !important;
}
.text-sm-medium-3Pz3rB{
    color: white !important;
    background-color: transparent;
}

.card-16VQ8C>.text-sm-medium-3Pz3rB{
    color: transparent !important;
}
.card-16VQ8C a{
    display: none;
}